@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import "tailwindcss";

body {
  font-family: "Josefin Sans", sans-serif;
}

.font1 {
  font-family: "Google Sans", sans-serif;
}

.font2 {
  font-family: "Playfair Display", serif;
}

.logoFont {
  font-family: "Grand Hotel", cursive;
}
